doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      a(href="/") [HOME]
      | 
      a(href="/register") [회원가입]
    block content
